*.user
*.userprefs
.vs/
External/KSPLibraries/*.dll
External/Nuget/*
TiltEm/*.csproj.user
TiltEm/bin/*
TiltEm/obj/*
TiltEmCommon/*.csproj.user
TiltEmCommon/bin/*
TiltEmCommon/obj/*
TiltEmKopernicus/*.csproj.user
TiltEmKopernicus/bin/*
TiltEmKopernicus/obj/*
*.nupkg
.idea
.DotSettings